<%= csrf_meta_tag %>

<% unless @chatroom %>
  <%= button_to 'Start Chat', create_chatroom_path(@user) %>
<% end %>

<% if @chatroom  %>
  <% if @messages %>
  <div data-behavior='receiver'>
    <% @messages.each do |message| %>
        <%= render message %>
    <% end %>
  </div>
  <% end %>

  <%= form_for :message, remote: true, url: direct_message_path(@chatroom), authenticity_token: true, html: { id: 'new_direct_message'} do |f| %>
  <%= f.text_area :content, rows: 1, class:"input-box", autofocus: true %>
  <% end %>
  <% end %>
