<% @title = 'Show Document' %>
<%= render 'layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <div class="show-title"><h3><%= @conversation.subject %></h3></div>
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <div class="form-group">
          <div>
            <strong>Gönderen: </strong><%= receipt.message.sender.full_name %>
          </div>
          <div>
            <strong>İçerik: </strong>
            <%= simple_format receipt.message.body %>
          </div>
          <div>
            <% if receipt.message.attachment? %>
            <strong>
              Attachment:
            </strong>
            <%= link_to receipt.message.attachment.file.filename, receipt.message.attachment.url, target: :blank %>
            <% end %>
          </div>
        </div>

      <hr>
      <% end %>

      <%= form_for @message, url: conversation_messages_path(@conversation) do |f| %>
        <div class="form-group">
          <%= f.text_area :body, placeholder: "Reply to" %>
        </div>
        <div class="form-group">
          <%= f.file_field :attachment %>
        </div>
        <%= submit_tag "Send" %>
      <% end %>
    </div>
  </div>
</div>
