<% @title = 'Conversation Show' %>
<%= render 'layouts/navbar' %>
<%= @conversation.subject %>

<h4>Participants</h4>


  <hr/>
<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div>
    <div><%= receipt.message.sender.full_name %> commented: </div>
    <%= simple_format receipt.message.body %>
    <%= receipt.id %>

    <% if receipt.message.attachment? %>
    <strong>
      Attachment
    </strong>
    <%= link_to receipt.message.attachment.file.filename, receipt.message.attachment.url, target: :blank %>
    <% end %>
  </div>
<% end %>

<%= form_for @message, url: conversation_messages_path(@conversation) do |f| %>
  <div>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.file_field :attachment %>
  </div>
  <%= submit_tag %>
<% end %>
