<!DOCTYPE html>
<html>
  <head>
    <title>PaperProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="fluid-container">
      <div class="row">
        <div class="col-sm">
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="#">
                          Paper Project <%= current_user.username %>
                      </a>
                  </li>
                  <li>
                    Channels <%= link_to fa_icon "plus" %>
                  </li>
                  <% current_user.chatrooms.each do |chatroom| %>
                    <li><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %> </li>
                    <% end %>
                  <li>
                      <%= link_to "Çıkış", destroy_user_session_path, method: :delete %>
                  </li>
                  <li>
                    Direct Messages
                  </li>
                  <li>
                    <%= link_to "New Conversation", new_conversation_path %>
                  </li>
                  <li>
                    <%= link_to "Inbox (#{current_user.mailbox.inbox.unread(current_user).count})", inbox_conversations_path %>
                  </li>
                  <li>
                    <%= link_to "All Conversations (#{current_user.mailbox.conversations.count})", all_conversations_path %>
                  </li>
                  <li>
                    <%= link_to "Sent (#{current_user.mailbox.sentbox.count})", sent_conversations_path %>
                  </li>
                  <li>
                    <%= link_to "Trash (#{current_user.mailbox.trash.count})", trash_conversations_path %>
                  </li>
                  <li>
                    <%= link_to "Total Conversation (#{current_user.mailbox.conversations.count})" %>
                  </li>

              </ul>

          </div>
        </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <div class="col-10" id="main-container">
            <div class="col-sm-6 col-sm-offset-2">
              <%= yield %>
            </div>
        </div>
      </div>
    </div>
    <% else %>
        <%= yield %>
    <% end %>
  </body>

</html>
