<!DOCTYPE html>
<html>
  <head>
    <title>PaperProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', cache: true  %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="fluid-container">
      <div class="row">
          <div class="col-md-3" id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <%= link_to root_path do %>
                      <span id='title'>Pp</span>
                      <% end %>
                  </li>
                  <hr/>
                  <li>
                    <span class="span">Channels</span>
                  </li>
                  <% current_user.chatrooms.public_channels.each do |chatroom| %>
                    <li><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %> </li>
                    <% end %>
                    <hr/>
                    <li>
                      <span class="span">Share Document</span>
                    </li>
                    <li>
                      <%= link_to "New Document", new_conversation_path %>
                    </li>
                    <li>
                      <%= link_to "Inbox (#{current_user.mailbox.inbox.unread(current_user).count})", inbox_conversations_path %>
                    </li>
                    <li>
                      <%= link_to "All (#{current_user.mailbox.conversations.count})", all_conversations_path %>
                    </li>
                    <li>
                      <%= link_to "Sent (#{current_user.mailbox.sentbox.count})", sent_conversations_path %>
                    </li>
                    <li>
                    </li>
                    <li>
                      <%= link_to "Trash (#{current_user.mailbox.conversations.count})" %>
                    </li>
                    <hr/>
                  <li>
                    <span class="span">Direct Messages</span>
                  </li>
                  <% (User.all - [current_user]).each do |user| %>
                  <li><%= link_to user.full_name, direct_message_path(user.id), data: {behavior: "chatroom-link", chatroom_id: Chatroom.direct_message_for_users([current_user, user]).id} %> </li>
                  <% end %>
                <li>
                  <%= link_to "Edit", edit_user_registration_path %>
                </li>
                  <li>
                    <%= link_to "Çıkış", destroy_user_session_path, method: :delete %>
                  </li>
              </ul>
          </div>
        <div class="col-md-9" id="main-container">
          <%= yield %>
        </div>
      </div>
    </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
